@import url(https://fonts.googleapis.com/css?family=Inconsolata&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lusitana&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap);

* {
    outline: 0;
    box-sizing: border-box !important;
}

body,
html {
    margin: 0;
    font-size: 15px !important;
}
body {
    background-color: #111;
    color: #fff;
    overflow-x: hidden;
    font-family: Helvetica, "Nanum Myeongjo", serif;
    background-image: none;
    -webkit-font-feature-settings: "kern" 1 !important;
    -moz-font-feature-settings: "kern" 1 !important;
    -o-font-feature-settings: "kern" 1 !important;
    font-feature-settings: "kern" 1 !important;
    font-kerning: normal;
}
main {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    main {
        flex-flow: column;
    }
    footer {
        display: none !important;
    }
    .content {
        margin-top: 0 !important;
        margin-left: 0 !important;
    }
}

.content {
    flex: 1;
    max-width: 600px;
    margin-left: 225px; /* width of sidebar + 50px */
    color: rgb(235, 235, 235);
}

article {
    width: 100%;
    padding-top: 5px;
}

article img {
    width: auto;
    max-height: 300px;
    margin-bottom: 10px;
}

article code {
    padding: 2px 4px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 244, 219, 0.3);
    line-height: 1;
    font-size: 14px;
}

blockquote {
    color: gray;
    border-left: 2px solid #333;
    padding-left: 20px;
    margin-left: 20px;
}

.fr {
    float: right;
    margin-left: 10px;
    max-height: 400px;
    width: auto;
}

.list {
    margin-top: 20px;
}

.list li {
    overflow: hidden;
    text-overflow: ellipsis;
    list-style: none;
    white-space: nowrap;
}

.list li code {
    color: gray;
}

a,
b,
blockquote p,
i,
li,
p,
ul {
    line-height: 1.5;
}

footer {
    display: flex;
    margin-top: auto;
    align-items: center;
    margin-top: auto;
    color: gray;
}

footer a {
    width: 15px;
    display: inline-block;
    height: 15px;
    margin-right: 10px !important;
    margin-top: -2px !important;
}

code,
pre {
    border-radius: 0 !important;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

a {
    color: tan;
    text-decoration: none;
}
a:hover {
    color: darkseagreen;
}

h1 {
    margin-bottom: 5px;
    font-weight: 800;
    font-size: 15px;
}

h2,
h3,
h4,
h5 {
    margin-bottom: 5px;
    line-height: 1.15;
    font-variant: small-caps;
    font-weight: 400;
    font-size: 15px;
    color: gray;
}

hr {
    margin: 20px 0;
    background: #f4f4f4;
    opacity: 0.2;
    height: 1.5px;
    border: none;
}

.mn {
    float: right;
    clear: right;
    margin-right: -50%;
    width: 45%;
    margin-top: 0.2rem;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 1.15;
    vertical-align: baseline;
    position: relative;
}
